<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthify">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_healthify"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_healthify_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.healthify">

        <activity
            android:name=".AddNewFoodPlan"
            android:exported="false" />
        <activity
            android:name=".SelectedPage"
            android:exported="false" />

        <activity
            android:name=".SelectedPlanDetails"
            android:exported="false" />

        <activity
            android:name=".DeletePage"
            android:exported="false" />

        <activity
            android:name=".DeletePageDetails"
            android:exported="false" />

        <activity
            android:name=".FoodDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".FoodPlanSelectingList"
            android:exported="false" />

        <activity
            android:name=".Timers"
            android:exported="false" />
        <activity
            android:name=".Reminder"
            android:exported="false" />
        <activity
            android:name=".Calculator"
            android:exported="false" />
        <activity
            android:name=".Setpassword"
            android:exported="false" />
        <activity
            android:name=".Setage"
            android:exported="false" />
        <activity
            android:name=".Setcontact"
            android:exported="false" />
        <activity
            android:name=".Usersetting"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".WorkoutDetails"
            android:exported="false" />
        <activity
            android:name=".FoodPlanComment"
            android:exported="false" />
        <activity
            android:name=".NewComment"
            android:exported="false" />
        <activity
            android:name=".WorkoutMain"
            android:exported="false"
            android:launchMode="singleInstance"
            tools:ignore="DuplicateActivity" />
        <activity
            android:name=".WorkoutMainAct2"
            android:exported="false" />
        <receiver android:name=".Notification"
            android:enabled="true"/>
        <service android:name=".TimerFunc"/>
        <activity
            android:name=".FirstPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>